{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Store | Formulario</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1c866e61ca.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/validar.js' %}"></script>
</head>

<body>

    <!--FORMULARIO-->
    
    <div class="container mt-5 mb-5">
        <h3>Contáctate con nosotros</h3>
        <p>Rellene el siguiente formulario</p>
        <form action="#" method="post" name="datos">
            <div class="form-group">
                <label id="rut-label" for="rut">Rut: </label>
                <input type="text" id="rut" name="rut" placeholder="Digite su rut..." required class="form-control"
                    minlength="10">
                <p class="hide label-error" id="rut-mensaje">El rut ingresado no es válido</p>
            </div>

            <div class="form-group">
                <label id="nom-label" for="nom">Nombre: </label>
                <input type="text" id="nom" name="nom" placeholder="Digite su nombre..." required class="form-control"
                    minlength="3" onchange="upperText(this)">
                <p class="label-error hide" id="nom-mensaje">El nombre es obligatorio</p>
            </div>

            <div class="form-group">
                <label id="apeP-label" for="apeP">Apellido Paterno: </label>
                <input type="text" id="apeP" name="apeP" placeholder="Digite su apellido paterno..." required
                    class="form-control" minlength="3" onchange="upperText(this)">
                <p class="label-error hide" id="apeP-mensaje">El apellido paterno es obligatorio</p>
            </div>

            <div class="form-group">
                <label id="apeM-label" for="apeM">Apellido Materno: </label>
                <input type="text" id="apeM" name="apeM" placeholder="Digite su apellido materno..." required
                    class="form-control" minlength="3" onchange="upperText(this)">
                <p class="label-error hide" id="apeM-mensaje">El apellido materno es obligatorio</p>
            </div>

            <div class="form-group">
                <label id="fecha-label" for="fecha">Fecha de nacimiento: </label>
                <input type="date" id="fecha" name="fecha" placeholder="Seleccione fecha de nacimiento..." required
                    class="form-control">
                <p class="label-error hide" id="fecha-mensaje">La fecha de nacimiento es obligatoria</p>
            </div>

            <div class="form-group">
                <label id="genero-label" for="genero">Género</label>
                <select id="genero" class="form-control">
                    <option value="0">Seleccione género...</option>
                    <option value="1">Mujer</option>
                    <option value="2">Hombre</option>
                    <option value="3">Prefiero no decirlo</option>
                </select>
                <p class="label-error hide" id="genero-mensaje">Debe seleccionar un género</p>
            </div>

            <input type="button" value="Enviar" onclick="validarFormulario()" class="btn btn-warning btn-lg">
        </form>
        <div id="error"></div>
    </div>

</body>
</html>
{% endblock %}