{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>Pet Store | Productos</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/1c866e61ca.js" crossorigin="anonymous"></script>

  <style>
    .card {
      display: inline-block;
      margin-top: 20px;
      margin-right: 45px;
    }

    .card img {
      max-height: 250px;
    }
  </style>

</head>

<body>

  <!--Cuenta regresiva-->
  <div class="container mt-5 mb-5">
  <h1>¡Espera a las mejores ofertas!</h1>
    <section>
      <p>
          <span id="days"></span> días / <span id="hours"></span> horas / <span id="minutes"></span> minutos / <span id="seconds"></span> segundos
      </p>
    </section>

    <div class="container">
      <div class="row">
          {% for producto in articulos %}
          <div class="col-12 col-md-4">
              <div class="card text-center">
                  {% if producto.imagen %}
                      <img src="{{ producto.imagen.url }}" class="card-img-top mx-auto">
                  {% else %} 
                      <img src="{% static 'img/rayo.jpg' %}" class="card-img-top mx-auto">
                  {% endif %}
                  <div class="card-body">
                      <h4 class="card-title">Codigo:{{ producto.codigo }}</h4>
                      <p class="card-text">
                          Nombre: {{ producto.nombre }}<br>
                          Descripcion: {{ producto.descripcion }}
                          Precio: $ {{ producto.precio }}
                     </p>
                      <a href="#" class="btn btn-success">Comprar</a>
                      <a href="#" class="btn btn-warning">Ver Info</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>

  <!--
  GALERIA

  <div class="container mt-5 mb-5 d-flex justify-content-center flex-wrap">
    <div class="card mb-3" style="max-width: 15rem;">
      <img src="{% static 'img/productos/ProPlanAdultoRazaMediana.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Proplan Adulto</h5>
        <strong>
          <p clas="card-text">$22.990</p>
        </strong>
        <p class="card-text">Alimento para perros</p>
        <a href="#" class="btn btn-warning">Comprar Producto</a>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 15rem;">
      <img src="{% static 'img/productos/ProplanAdultoCat.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Proplan Adulto Cat</h5>
        <strong>
          <p clas="card-text">$21.990</p>
        </strong>
        <p class="card-text">Alimento para gatos</p>
        <a href="#" class="btn btn-warning">Comprar Producto</a>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 15rem;">
      <img src="{% static 'img/productos/RoyalCaninAdultoIndoor.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Royal Canin Adulto Indoor</h5>
        <strong>
          <p clas="card-text">$28.990</p>
        </strong>
        <p class="card-text">Alimento para gatos</p>
        <a href="#" class="btn btn-warning">Comprar Producto</a>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 15rem;">
      <img src="{% static 'img/productos/BuddyBoxJuguete.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Buddy Pet</h5>
        <strong>
          <p clas="card-text">$8.990</p>
        </strong>
        <p class="card-text">Buddy Box Juguete perro</p>
        <a href="#" class="btn btn-warning">Comprar Producto</a>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 15rem;">
      <img src="{% static 'img/productos/BuddyBoxHigiene.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Buddy Pet</h5>
        <strong>
          <p class="card-text">$9.279</p>
        </strong>
        <p class="card-text">Buddy Box Higiene perro</p>
        <a href="#" class="btn btn-warning">Comprar Producto</a>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 15rem;">
      <img src="{% static 'img/productos/BuddyBoxPaseo.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Buddy Pet</h5>
        <strong>
          <p class="card-text">$7.790</p>
        </strong>
        <p class="card-text">Buddy Box Paseo perro</p>
        <a href="#" class="btn btn-warning">Comprar Producto</a>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 15rem;">
      <img src="{% static 'img/productos/MasterProx.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Master Prox</h5>
        <strong>
          <p class="card-text">$12.990</p>
        </strong>
        <p class="card-text">Manguera ducha para baño</p>
        <a href="#" class="btn btn-warning">Comprar Producto</a>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 15rem;">
      <img src="{% static 'img/productos/CamaPalta.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cama de perro</h5>
        <strong>
          <p class="card-text">$16.190</p>
        </strong>
        <p class="card-text">En forma de palta</p>
        <a href="#" class="btn btn-warning">Comprar Producto</a>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 15rem;">
      <img src="{% static 'img/productos/CasaPegable.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Casa cama pegable</h5>
        <strong>
          <p class="card-text">$22.990</p>
        </strong>
        <p class="card-text">Para perros y gatos</p>
        <a href="#" class="btn btn-warning">Comprar Producto</a>
      </div>
    </div>

  </div> -->
  <script src="{% static 'js/cuentaregresiva.js' %}"></script>
</body>
</html>
{% endblock %}