{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
    <title>Modificar</title>
</head>
<body>
    <div class="container mt-5 mb-5">
        <h2>Modificar Producto</h2>
        <form method="POST" id="formulario" enctype="multipart/form-data">
            
            {% csrf_token %}
            <div class="row">
                <label for="{{ productoform.field.name }}">
                    {{form.codigo.label}}
                </label>
                {{ form.codigo}}
            </div>

            <div class="row">
                <label for="{{ productoform.field.name }}">
                    {{form.nombre.label}}
                </label>
                {{ form.nombre }}
            </div>

            <div class="row">
                <label for="{{ productoform.field.name }}">
                    {{form.descripcion.label}}
                </label>
                {{ form.descripcion }}
            </div>

            <div class="row">
                <label for="{{ productoform.field.name }}">
                    {{form.precio.label}}
                </label>
                {{ form.precio }}
            </div>

            <div class="row">
                <label for="{{ productoform.field.name }}">
                    {{form.categoria.label}}
                </label>
                {{ form.categoria }}
            </div>

            <div class="row">
                <label for="{{ productoform.field.name }}">
                    {{form.imagen.label}}
                </label>
                {{ form.imagen }}
            </div>

            <br><br>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Modificar">
                <a href="{% url 'articulos' %}" class="btn btn-warning">Volver</a>
            </div>


        </form>


    </div>
 </body>
</html>
{% endblock %}